<h1>SEARCH</h1>

<section id="search-section">
    <div class="form-group" id="input-group">
        <label for="game" class="text-white">Enter Steam game ID:</label>
        <input #gameInput (keyup.enter)="onEnter(gameInput.value)" type="text" class="form-control" name="game" id="game">
        <small class="form-text text-white">You can find game ID in adress bar on game page</small>
    </div>
    <div class="form-group" id="radio-group">
        <label class="radio-inline"><input type="radio" name="searchType" (click)="onChange('news')" value="news">News</label>
        <label class="radio-inline"><input type="radio" name="searchType" (click)="onChange('achievements/stats')" value="achievements/stats">Achievemets stats</label>
        <label class="radio-inline"><input type="radio" name="searchType" (click)="onChange('achievements/list')" value="achievements/list" checked>Achievements list</label>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" id="submit-button" (click)="onEnter(gameInput.value)">Search</button>
    </div>
</section>