.achievement-card {
    width: 70vw;
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: #23C186;
    color: #eee;
    margin-bottom: 45px;
    overflow: hidden;
    font-size: 1.5vw;
}

.achievement-card-name {

}

.achievement-card-percent {

}

@media (max-width: 768px) {
    .achievement-card {
        width: 96vw;
        font-size: 5vw;
    }
}