<h1>GAME LIST</h1>

<section id="pick-game-menu">
    <a [attr.data-game-id]="game.id" [routerLink]="['/achievements/list/' + game.id]" *ngFor="let game of games" class="d-flex flex-row justify-content-center align-items-center game-button">
        <h3>{{game.name}}</h3>
    </a>
</section>

<h1>GLOBAL STATS</h1>

<section id="pick-game-menu">
    <a [attr.data-game-id]="game.id" [routerLink]="['/achievements/stats/' + game.id]" *ngFor="let game of games" class="d-flex flex-row justify-content-center align-items-center game-button">
        <h3>{{game.name}}</h3>
    </a>
</section>