<h1>FIND USER</h1>

<section id="userpick-section">
    <div class="form-group" id="input-group">
        <label for="user" class="text-white">Enter your Steam 64 ID:</label>
        <input #userInput (keyup.enter)="onEnter(userInput.value)" type="text" class="form-control" name="user" id="user">
        <small class="form-text text-white">You can find Steam 64 ID <a href="https://steamid.co/" target="_blank" title="Site to find id">here</a>, your <a href="http://steamcommunity.com/my/profile" target="_blank" title="Your page">page</a> URL</small>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" id="submit-button" (click)="onEnter(userInput.value)">Find user</button>
    </div>
</section>