h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 45px;
    width: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: #F7971E;
}

a {
    color: #F7971E;
}

#userpick-section {

}

#input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#input-group label {
    font-size: 3rem;
}

#input-group input {
    width: 40vw;
}

#input-group small {
    font-size: 1.3rem;
}

#radio-group label {
    font-size: 1.5rem;
}

#submit-button,
#submit-button:focus {
    background: #F7971E; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
}

.text-white {
    color: #eee !important;
}

@media (max-width: 768px) {
    #input-group input {
        width: 100%;
    }
}