h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 45px;
    width: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: #E32071;
}

#pick-game-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.game-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px !important;
    height: 180px !important;
    padding: 15px !important;
    margin: 30px !important;
    border-radius: 5px;
}

.game-button h3,
.game-button:hover h3 {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    font-size: 5rem;
}

.game-button {
    text-decoration: none;
    transition: all ease .3s;
}

.game-button:hover {
    text-decoration: none;
    transform: scale(1.05);
}

.game-button[data-game-id="730"] {
    background: #c21500; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url(/images/csgo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game-button[data-game-id="570"] {
    background: #F00000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DC281E, #F00000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url(/images/dota.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game-button[data-game-id="578080"] {
    background: #FF4E50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url(/images/pubg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game-button[data-game-id="271590"] {
    background: #56ab2f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url(/images/gta.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game-button[data-game-id="252490"] {
    background: url(/images/rust.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}