h1 {
    font-size: 5rem;
    text-align: center;
    color: #F7971E;
    font-weight: bold;
    margin-bottom: 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

h4 {
    font-size: 2rem;
    text-align: center;
    color: #eee;
    font-weight: lighter;
    margin-bottom: 45px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#user-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-card-times {
    text-align: center;
    font-size: 1.7rem;
    color: #eee;
}

#user-card-top-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    padding: 15px 5% 15px 5%;
    border-radius: 5px;
    border: 5px solid #F7971E;
}

#user-card-top-panel img {
    border-radius: 5px;
}

#profile-url,
#profile-url:focus,
#profile-url:hover {
    display: block;
    color: #F7971E;
    width: 100%;
    margin: 30px 0 30px 0;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
}

#user-card-second-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 15px 5% 15px 5%;
}

#user-card-second-panel p {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: center;
    color: #23C186;
    font-size: 1.8rem;
}

.friend-card,
.game-card {
    width: 70vw;
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: #eee;
    margin-bottom: 45px;
    overflow: hidden;
    font-size: 1.5vw;
}

.friend-card {
    border: 5px solid #F7971E;
}

.game-card {
    border: 5px solid #23C186;
}

.friend-card a,
.friend-card a:focus,
.friend-card a:hover,
.game-card a,
.game-card a:focus,
.game-card a:hover  {
    display: block;
    color: #eee;
    text-decoration: none;
    white-space: nowrap;
}

.user-empty {
    margin-top: 30vh;
    text-align: center;
    width: 100%;
    color: #eee;
    font-size: 2rem;
}

.nav.nav-pills.nav-justified {
    width: 70%;
    margin: 15px 0 15px 0;
}

li {
    border-radius: 5px;
}

li a {
    color: #eee;
    text-decoration: none;
}

li.link-active#owned-games-link a,
li.link-active#owned-games-link a:hover,
li.link-active#owned-games-link a:focus,
li#owned-games-link a:hover,
li#owned-games-link a:focus,
li#owned-games-link[data-active="true"] {
    background: #11998e !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white !important;
}

li.link-active#friends-link a,
li.link-active#friends-link a:hover,
li.link-active#friends-link a:focus,
li#friends-link a:hover,
li#friends-link a:focus,
li#friends-link[data-active="true"] {
    background: #F7971E; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white !important;
}
 
@media (max-width: 768px){
    #user-card-top-panel {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 96vw;
        padding: 15px 2% 15px 2%;
    }

    #user-card-second-panel {
        flex-direction: column;
        width: 96vw;
        padding: 15px 2% 15px 2%;
    }

    #user-card-second-panel p {
        max-width: 95vw;
    }

    .nav.nav-pills.nav-justified {
        width: 96%;
        margin: 15px 2% 15px 2%;
    }

    .friend-card,
    .game-card {
        width: 96vw;
        font-size: 4vw;
    }

    .friend-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
