<div *ngIf="user != null; else loading_message">
    <h1 *ngIf="user != null">{{user.personaname}}</h1>
    <h4 *ngIf="user != null">{{user.realname}}</h4>

    <section id="user-section" *ngIf="user != null">
        <div id="user-card-top-panel">
            <img [attr.src]="user.avatarfull" [attr.title]="user.personaname" [attr.alt]="user.personaname" />
            <div class="user-card-times">
                <p>Last logoff:</p>
                <p>{{user.lastlogoff*1000 | date:'fullDate'}}</p>
                <p>Time created:</p>
                <p>{{user.timecreated*1000 | date:'fullDate'}}</p>
            </div>
        </div>

        <div id="user-card-second-panel" *ngIf="user.gameextrainfo">
            <p>Currently in-game: {{user.gameextrainfo}}</p>
            <p>Game id: {{user.gameid}}</p>
        </div>

        <a [attr.href]="user.profileurl" [attr.title]="user.personaname" id="profile-url">steam url</a>

        <ul class="nav nav-pills nav-justified text-center" *ngIf="friends != null || games != null">
            <li [attr.data-active]="friendsActive" id="friends-link" (click)="showFriends()">
                <a title="friends tab">FRIENDS({{friends!=null?friends.length:0}})</a>
            </li>
            <li [attr.data-active]="gamesActive" id="owned-games-link" (click)="showGames()">
                <a title="owned games tab">GAMES({{gameCount}})</a>
            </li>
        </ul>

        <div id="user-card-friends-panel" *ngIf="friendsActive && friends != null && friends.length">
            <div class="friend-card" *ngFor="let friend of friends">
                <a [attr.href]="'/user/' + friend.steamid" title="open profile">id: {{friend.steamid}}</a>
                <p>Friends since: {{friend.friend_since*1000 | date:'fullDate'}}</p>
            </div>
        </div>

        <div id="user-card-games-panel" *ngIf="gamesActive && games != null && games.length">
            <div class="game-card" *ngFor="let game of games">
                <a [attr.href]="'/achievements/list/' + game.appid" title="open achievements">id: {{game.appid}}</a>
                <p>Played hours: {{(game.playtime_forever / 60) | number}}</p>
            </div>
        </div>
    </section>
</div>

<ng-template id="user-section" #error_message>
    <p class="user-empty">User not found</p>
</ng-template>

<ng-template id="user-section" #loading_message>
    <p class="user-empty" *ngIf="user == null && loading; else error_message">Loading...</p>
</ng-template>